<div class="container">
  <h2 id="menu-categories-title" class="text-center">Sign Up</h2>
  <div class="text-center">
   	<fieldset>
     
      <form name='regForm' novalidate>
      	
      	
        <input type="text" name="firstname" placeholder="First Name"
          class="form-control" 
          ng-model="signUpCtrl.user.firstname"
          required
          minlength="4"
          ng-maxlength="10">
          <!--{{ signUpCtrl.user.firstname }}-->
          <span
            ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
            First Name must be at least 4 characters long
          </span>
          <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
            First Name must not be longer than 10 characters
          </span>
        <br>

		<input type="text" name="lastname" placeholder="Last Name"
		  class="form-control" 
          ng-model="signUpCtrl.user.lastname"
          required
          minlength="4"
          ng-maxlength="10">
          <!--{{ signUpCtrl.user.lastname }}-->
          <span
            ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
            Last Name must be at least 4 characters long
          </span>
          <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
            Last name must not be longer than 10 characters
          </span>
          <br>          

        <input type="email" name="email" placeholder="Email"
          class="form-control" 
          ng-model="signUpCtrl.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          class="form-control" 
          required 
          ng-model="signUpCtrl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

         <input type="text" name="short_name" placeholder="Menu Number (a.k.a Short_Name)"
         class="form-control"
         required
         ng-model="signUpCtrl.user.menu_number">
         <br>

        <button
          class="btn btn-primary"
          ng-disabled="regForm.$invalid"
          ng-click="signUpCtrl.submit()">Submit</button>

          <div style="margin-top: 10px;" ng-if="signUpCtrl.error">
             {{ signUpCtrl.error_mssg }}
          </div>
          <div style="margin-top: 10px;" ng-if="!signUpCtrl.error">
          	 {{signUpCtrl.success_mssg}} 
          	 <a ui-sref="public.logIn">{{signUpCtrl.view}}</a>
      	  </div>
      </form>
    </fieldset>
  </div>
</div>
