<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
<body ng-app='NarrowItDownApp'>
   <div class="container" ng-controller='NarrowItDownController as ctrl'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="ctrl.searchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="ctrl.callFunc();">Narrow It Down For Me!</button>
    </div>

    <!-- found-items should be implemented as a component -->
    <found-items found-item="ctrl.found" on-remove="ctrl.removeItem()"
     search="ctrl.searchTerm"></found-items>
  </div>

  
</body>
</html>
